/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.float-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.list-inline {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding: 0 10px;
}
.list-inline a:not(.btn,#select a) {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.main-text {
    color: #898989;
    font-size: 16px;
}

h2 {
    font-size: 30px;
}

/* Header */
header {
    height: 500px;
    background-color: #0c325a;
    background-image: url('../img/background-header.png');
    background-size: 70%;background-repeat: no-repeat;
    background-position: 115% 100%;
}

.header-nav {
    height: 80px;
    line-height: 80px;
}

.header-logo {
    width: 13%;
    height: 100%;
}
.header-logo img {
    vertical-align: middle;
}

.nav-left {
    width: 47%;
    height: 100%;
    text-align: left;
}

.nav-right {
    width: 40%;
    height: 100%;
    text-align: right;
}

.btn-green {
    background-color: #7cbb02;
}
.btn-border {
    border: 1px solid white;
}
.btn-lg {
    padding: 20px;
}

.jumbotron {
    position: relative;
    height: 420px;
}

.jumbotron-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 45%;
}
.jumbotron-text h1 {
    margin-bottom: 30px;
    font-size: 40px;
    color: white;
}
.jumbotron-text a {
    display: inline-block;
}

/* Main */
#intro {
    position: relative;
    height: 150px;
    background-color: #d3d3d3;
    text-align: center;
}

#intro h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

#intro > .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section1 {
    margin: 0 1%;
    border-bottom: 1px solid #d3d3d3;
}

#section1 .float-left {
    width: calc(100%/3);
    padding: 30px 20px;
    text-align: center;
}

#section1 img {
    height: 150px;
    margin-bottom: 30px;
}
#section1 h3 {
    color: #7cbb02;
    font-size: 22px;
}
#section1 hr {
    margin: 30px 40%;
}

#section2 .float-left:first-child {
    width: 50%;
    padding: 30px 40px;
    text-align: center;
}
#section2 .float-left:last-child {
    width: 50%;
    padding: 30px 10% 30px 40px;
    text-align: left;
}
#section2 h2 {
    margin-bottom: 15px;
}
#section2 a {
    display: inline-block;
    font-size: 12px;
    margin-top: 20px;
}

/* Footer */
footer {
    height: 150px;
    line-height: 150px;
    background-color: #d3d3d3;
}

footer .float-left {
    width: 50%;
}

.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

#select {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: left;
    border-bottom: 1px solid #898989;
}
#select a {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #898989;
    z-index: 2;
}
#select i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: inline-block;
    z-index: 1;
}